<!doctype html>
<html ng-app="ExampleApp">
<head>
    <title>Elastic Slider</title>
    <link rel="stylesheet" href="css/elasticslider.css">

    <style>
        .slider {
            height: 200px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div ng-click="addRemoveSlide();">
        Add slide
    </div>
    <elastic-slider class="slider"
     animation="fade"
     auto-play-duration="8000"
     enable-arrows="true"
     enable-pagination="true"
     trigger-update="trigger">
        <div ng-repeat="item in arr"
         ng-attr-style="background-color: {{item.color}}">
            {{item.text}}
        </div>
    </elastic-slider>


    <elastic-slider class="slider"
     animation="slide"
     active-slide="1"
     auto-play-duration="8000"
     enable-arrows="true"
     enable-pagination="true">
        <div class="something">
            A slide
        </div>

        <div style="background-color: papayawhip">
            Another slide
        </div>

        <div style="background-color: lightblue">
            This can't be another one?
        </div>

        <div style="background-color: purple">
            I hope this is the last of them!
        </div>
    </elastic-slider>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/elasticslider-core/dist/elasticslider-core.min.js"></script>
    <script src="../dist/angular-elasticslider.min.js"></script>
    <!-- <script src="angular-elasticslider.js"></script> -->
    <script>
    (function(){
        'use strict';

        angular.module('ExampleApp', [
            'ngElasticSlider'
        ]).run(function($rootScope) {

            // Not necessary for plugin. Used to display ng-repeat and dynamic
            // carousel functionality.
            $rootScope.arr = [
                {
                    'text': 'A slide',
                    'color': 'green'
                },

                {
                    'text': 'Another slide',
                    'color': 'papayawhip'
                },

                {
                    'text': 'This can\'t be another one?',
                    'color': 'lightblue'
                },

                {
                    'text': 'I hope this is the last of them!',
                    'color': 'purple'
                },
            ];

            $rootScope.addRemoveSlide = function(){
                if ($rootScope.arr.length === 4) {
                    $rootScope.arr.push({
                        'text': 'new',
                        'color': 'blue'
                    });
                } else {
                    $rootScope.arr.pop();
                }

                $rootScope.trigger = true;
            }
        });
    })();
    </script>
</body>
</html>
