// ============================================================================
// ElasticSlider
// Author: Jamy Golden (http://twitter.com/jamygolden)
// ============================================================================

.ElasticSlider {
    display: block;
    background: red;
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;

    &-container {}

    &-pagiList {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 5;
    }

        &-pagiItem {
            float: left;
        }

        &-pagiItem--isActive {
            background: red;
        }

    &-arrowList {
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 5;
    }

        &-arrowItem {
            float: left;
        }

    &-item {
        background: green;
        height: 100%;
        width: 100%;
        position: absolute;
        top: -100%;
        left: -100%;
        z-index: 0;

        &--clone {
            z-index: 1;
        }

        &--isActive {
            left: 0;
            top: 0;
        }
    }
}

// Animation styles
// ============================================================================
@import "animation/fade";
@import "animation/slide";
